In [2]:
# Dowloading file from internet.

# Downlod.file() : to download the file from internet.
str(download.file)

function (url, destfile, method, quiet = FALSE, mode = "w", cacheOK = TRUE,
    extra = getOption("download.file.extra"), ...)

In [12]:
# Reading XML files.
library(XML)
fileURL <- "https://www.w3schools.com/xml/simple.xml"
doc <- xmlTreeParse(fileURL,useInternal = TRUE)
rootnode <- xmlRoot(doc)
xmlName(rootNode)
names(rootNode)
# subsetting is same as the list.
# s[[1]][[1]]

ERROR: Error: XML content does not seem to be XML: 'https://www.w3schools.com/xml/simple.xml'

In [16]:
# Reading JSON files.
library(jsonlite)
url <- ''
jsonData <- fromJSON(url)
names(jsonDATA)

In [19]:
# Efficent version for to read data frame.
library(data.table)
DT = data.table(x=rnorm(9),y=rep(c("a","b","c"),each=3),z=rnorm(9))
DT

  x           y z
1  1.72059198 a -1.3440282
2  0.62271197 a  0.1501951
3  0.38423480 a  0.2073170
4  0.09284853 b  0.2051049
5  1.00113431 b -0.5959455
6  0.34535016 b  1.3474952
7 -0.16457401 c  0.4766421
8 -1.92273570 c -1.2345437
9  2.58415300 c -0.5420559

In [20]:
tables() # Tables in the memory

   NAME NROW NCOL MB  COLS KEY
1:   DT    9    3  0 x,y,z
Total: 0MB

In [22]:
DT[,list(mean(x),sum(z))] # Perform any function on dataframe

  V1        V2
1 0.5181906 -1.329819

In [28]:
DT[,w:=z^2] # Add Any Column
DT[,a:=z>0]
DT[,m:={temp<- (x+z);log2(temp+10)}]
DT[, .N, by=x] # Gets the count of the categorical value.
DT

  x           N
1  1.72059198 1
2  0.62271197 1
3  0.38423480 1
4  0.09284853 1
5  1.00113431 1
6  0.34535016 1
7 -0.16457401 1
8 -1.92273570 1
9  2.58415300 1

  x           y z          w          a     m
1  1.72059198 a -1.3440282 1.80641190 FALSE 3.375257
2  0.62271197 a  0.1501951 0.02255855  TRUE 3.429336
3  0.38423480 a  0.2073170 0.04298035  TRUE 3.404842
4  0.09284853 b  0.2051049 0.04206801  TRUE 3.364286
5  1.00113431 b -0.5959455 0.35515108 FALSE 3.379231
6  0.34535016 b  1.3474952 1.81574337  TRUE 3.547554
7 -0.16457401 c  0.4766421 0.22718767  TRUE 3.366262
8 -1.92273570 c -1.2345437 1.52409803 FALSE 2.774570
9  2.58415300 c -0.5420559 0.29382464 FALSE 3.590015

In [1]:
# fread() command is used to read big data frame fast.

# Reading from MySQL

In [16]:
library(RMySQL)
library(DBI)
ucscDb <- dbConnect(MySQL(),user="genome",host="genome-mysql.cse.ucsc.edu")
result <- dbGetQuery(ucscDb,"show databases;"); dbDisconnect(ucscDb);

[1] TRUE

In [18]:
result

    Database
1   acaChl1
2   ailMel1
3   allMis1
4   allSin1
5   amaVit1
6   anaPla1
7   ancCey1
8   angJap1
9   anoCar1
10  anoCar2
11  anoGam1
12  anoGam3
13  apaSpi1
14  apaVit1
15  apiMel1
16  apiMel2
17  aplCal1
18  aptFor1
19  aptMan1
20  aquChr2
21  araMac1
22  ascSuu1
23  balAcu1
24  balPav1
25  bisBis1
26  bosTau2
27  bosTau3
28  bosTau4
29  bosTau5
30  bosTau6
... ...
297 strRat2
298 susScr11
299 susScr2
300 susScr3
301 taeGut1
302 taeGut2
303 tarSyr1
304 tarSyr2
305 tauEry1
306 tetNig1
307 tetNig2
308 thaSir1
309 tinGut2
310 triMan1
311 triSpi1
312 triSui1
313 tupBel1
314 turTru2
315 tytAlb1
316 uniProt
317 vicPac1
318 vicPac2
319 visiGene
320 xenLae2
321 xenTro1
322 xenTro2
323 xenTro3
324 xenTro7
325 xenTro9
326 zonAlb1

In [19]:
hg19 <- dbConnect(MySQL(),user="genome",db="hg19",host="genome-mysql.cse.ucsc.edu")
allTable <- dbListTables(hg19)
length(allTable)

[1] 12425

In [20]:
allTable[1:5]

[1] "HInv"         "HInvGeneMrna" "acembly"      "acemblyClass" "acemblyPep"

In [21]:
dbListFields(hg19,"affyU133Plus2")

 [1] "bin"         "matches"     "misMatches"  "repMatches"  "nCount"
 [6] "qNumInsert"  "qBaseInsert" "tNumInsert"  "tBaseInsert" "strand"
[11] "qName"       "qSize"       "qStart"      "qEnd"        "tName"
[16] "tSize"       "tStart"      "tEnd"        "blockCount"  "blockSizes"
[21] "qStarts"     "tStarts"

In [22]:
dbGetQuery(hg19,"select count(*) from affyU133Plus2")

  count(*)
1 58463

In [23]:
affyData <- dbReadTable(hg19,"affyU133Plus2")

Warning message in .local(conn, statement, ...):
"Unsigned INTEGER in col 0 imported as numeric"
Warning message in .local(conn, statement, ...):
"Unsigned INTEGER in col 1 imported as numeric"
Warning message in .local(conn, statement, ...):
"Unsigned INTEGER in col 2 imported as numeric"
Warning message in .local(conn, statement, ...):
"Unsigned INTEGER in col 3 imported as numeric"
Warning message in .local(conn, statement, ...):
"Unsigned INTEGER in col 4 imported as numeric"
Warning message in .local(conn, statement, ...):
"Unsigned INTEGER in col 5 imported as numeric"
Warning message in .local(conn, statement, ...):
"Unsigned INTEGER in col 6 imported as numeric"
Warning message in .local(conn, statement, ...):
"Unsigned INTEGER in col 7 imported as numeric"
Warning message in .local(conn, statement, ...):
"Unsigned INTEGER in col 8 imported as numeric"
Warning message in .local(conn, statement, ...):
"Unsigned INTEGER in col 11 imported as numeric"
Warning message in .local(conn, statement, ...):
"Unsigned INTEGER in col 12 imported as numeric"
Warning message in .local(conn, statement, ...):
"Unsigned INTEGER in col 13 imported as numeric"
Warning message in .local(conn, statement, ...):
"Unsigned INTEGER in col 15 imported as numeric"
Warning message in .local(conn, statement, ...):
"Unsigned INTEGER in col 16 imported as numeric"
Warning message in .local(conn, statement, ...):
"Unsigned INTEGER in col 17 imported as numeric"
Warning message in .local(conn, statement, ...):
"Unsigned INTEGER in col 18 imported as numeric"

In [24]:
head(affyData)

  bin matches misMatches repMatches nCount qNumInsert qBaseInsert tNumInsert
1 585  530     4         0           23     3         41          3
2 585 3355    17         0          109     9         67          9
3 585 4156    14         0           83    16         18          2
4 585 4667     9         0           68    21         42          3
5 585 5180    14         0          167    10         38          1
6 585  468     5         0           14     0          0          0
  tBaseInsert strand ... qStart qEnd tName tSize     tStart tEnd  blockCount
1   898       -      ...  5      603 chr1  249250621 14361  15816  5
2 11621       -      ...  0     3548 chr1  249250621 14381  29483 17
3    93       -      ...  3     4274 chr1  249250621 14399  18745 18
4  5743       -      ... 48     4834 chr1  249250621 14406  24893 23
5    29       -      ...  0     5399 chr1  249250621 19688  25078 11
6     0       -      ...  0      487 chr1  249250621 27542  28029  1
  blockSizes
1 93,144,229,70,21,
2 73,375,71,165,303,360,198,661,201,1,260,250,74,73,98,155,163,
3 690,10,32,33,376,4,5,15,5,11,7,41,277,859,141,51,443,1253,
4 99,352,286,24,49,14,6,5,8,149,14,44,98,12,10,355,837,59,8,1500,133,624,58,
5 131,26,1300,6,4,11,4,7,358,3359,155,
6 487,
  qStarts
1 34,132,278,541,611,
2 87,165,540,647,818,1123,1484,1682,2343,2545,2546,2808,3058,3133,3206,3317,3472,
3 44,735,746,779,813,1190,1195,1201,1217,1223,1235,1243,1285,1564,2423,2565,2617,3062,
4 0,99,452,739,764,814,829,836,842,851,1001,1016,1061,1160,1173,1184,1540,2381,2441,2450,3951,4103,4728,
5 0,132,159,1460,1467,1472,1484,1489,1497,1856,5244,
6 0,
  tStarts
1 14361,14454,14599,14968,15795,
2 14381,14454,14969,15075,15240,15543,15903,16104,16853,17054,17232,17492,17914,17988,18267,24736,29320,
3 14399,15089,15099,15131,15164,15540,15544,15549,15564,15569,15580,15587,15628,15906,16857,16998,17049,17492,
4 14406,20227,20579,20865,20889,20938,20952,20958,20963,20971,21120,21134,21178,21276,21288,21298,21653,22492,22551,22559,24059,24211,24835,
5 19688,19819,19845,21145,21151,21155,21166,21170,21177,21535,24923,
6 27542,

In [25]:
options(warning=FALSE)
query <- dbSendQuery(hg19,"select * from affyU133Plus2 where misMatches between 1 and 3")
affyMis <- fetch(query); quantile(affyMis$misMatches)

Warning message in .local(conn, statement, ...):
"Unsigned INTEGER in col 0 imported as numeric"
Warning message in .local(conn, statement, ...):
"Unsigned INTEGER in col 1 imported as numeric"
Warning message in .local(conn, statement, ...):
"Unsigned INTEGER in col 2 imported as numeric"
Warning message in .local(conn, statement, ...):
"Unsigned INTEGER in col 3 imported as numeric"
Warning message in .local(conn, statement, ...):
"Unsigned INTEGER in col 4 imported as numeric"
Warning message in .local(conn, statement, ...):
"Unsigned INTEGER in col 5 imported as numeric"
Warning message in .local(conn, statement, ...):
"Unsigned INTEGER in col 6 imported as numeric"
Warning message in .local(conn, statement, ...):
"Unsigned INTEGER in col 7 imported as numeric"
Warning message in .local(conn, statement, ...):
"Unsigned INTEGER in col 8 imported as numeric"
Warning message in .local(conn, statement, ...):
"Unsigned INTEGER in col 11 imported as numeric"
Warning message in .local(conn, statement, ...):
"Unsigned INTEGER in col 12 imported as numeric"
Warning message in .local(conn, statement, ...):
"Unsigned INTEGER in col 13 imported as numeric"
Warning message in .local(conn, statement, ...):
"Unsigned INTEGER in col 15 imported as numeric"
Warning message in .local(conn, statement, ...):
"Unsigned INTEGER in col 16 imported as numeric"
Warning message in .local(conn, statement, ...):
"Unsigned INTEGER in col 17 imported as numeric"
Warning message in .local(conn, statement, ...):
"Unsigned INTEGER in col 18 imported as numeric"

  0%  25%  50%  75% 100%
   1    1    2    2    3

In [26]:
affymisSmall <- fetch(query,n=10); dbClearResult(query)

[1] TRUE

In [27]:
dim(affymisSmall)

[1] 10 22

In [28]:
dbDisconnect(hg19)

[1] TRUE